@import "../../node_modules/nord/src/sass/nord.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

//Sizes


//Box Shadows
$nord0light: #272c36;
$nord0dark: #353c4a;

body {
  text-align: center;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  background-color: $nord0;
  color: $nord6;
}

button {
  background-color: $nord2;
  color: $nord6;

  border-style: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;

  font-size: 2em;
  box-shadow: 10px 10px 21px $nord0light,
    -10px -10px 21px $nord0dark;

  &:hover {
    background-color: $nord3;
  }
}

.disabled {
  color: $nord3;
}

#app {
  margin: auto;
  max-width: 1280px;

  @media only screen and (max-width: 900px) {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas: "navToggle search"
                         "main main";
  }

  @media only screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: auto 768px auto;
    grid-template-areas: ". search ."
                         ". main .";
  }

  @media only screen and (min-width: 1280px) {
    display: grid;
    grid-template-columns: 256px 768px auto;
    grid-template-areas: "sideNav search ."
                         "sideNav main .";
  }
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(59, 66, 82, 0.9);
  z-index: 2;
  backdrop-filter: blur(3px);
}

nav {
  grid-area: sideNav;
  background-color: $nord0;
  position: fixed;
  padding: 27.5px 15px 27.5px 15px;

  border-bottom-right-radius: 20px;
  font-size: 1.25em;

  text-align: left;
  
  @media only screen and (max-width: 1280px) {
    display: none;
  }

  &.open {
    display: block;
    height: 100vh;
    width: 256px;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
  }

  li {
    padding: 15px 15px;
    border-radius: 30px;

    &:hover {
      background-color: $nord1;
    }
  }

  a {
    color: $nord6;
    text-decoration: none;
  }
}

main {
  padding: 30px 0;
  grid-area: main;
}

#nav-toggle {
  grid-area: navToggle;
  padding-top: 20px;
  
  @media only screen and (min-width: 900px) {
    position: absolute;
    left: 15px;
  }

  @media only screen and (min-width: 1280px) {
    display: none;
  }
}

#player-form {
  grid-area: search;
  padding-top: 27.5px;
  padding-bottom: 7.5px;

  input[type=text] {
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    border-style: hidden;
    border-radius: 22px;
    background-color: $nord2;
    color: $nord6;
    
    box-shadow:  7px 7px 10px 2px $nord0light,
    -7px -7px 10px 2px $nord0dark;

    width: 95%;

    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;

    outline: none;

    &:focus {
      background-color: $nord3;
    }
  }
}

#videoContainer {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 90%;
  padding-bottom: 50.60%;

  box-shadow:  25px 25px 50px 2px $nord0light,
  -25px -25px 50px 2px $nord0dark;

  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 704px;
    padding-bottom: 396px;
  }
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#status {
  margin-top: 45px;
  
  #progress {
    display: grid;
    margin: auto;
    width: 80%;

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .slider {
      grid-column: 1 / span 2;
      grid-row: 2;

      background-color: inherit;
      -webkit-appearance: none;
      cursor: pointer;
      border: none;


      &::-webkit-slider-runnable-track {
        margin-top: 5px;
        background: linear-gradient(135deg, 
          $nord10 0%, 
          $nord9 25%, 
          $nord8 75%, 
          $nord7 100%);
        height: 5px;
        box-shadow: 5px 5px 10px 5px $nord0light,
          -5px -5px 10px 5px $nord0dark;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1.25em;
        width: 1.25em;
        border-radius: 50%;
        margin-top: -5px;
        background: $nord6;
    }

      &::-moz-range-track {
        background: $nord3;
        height: 5px;
        box-shadow: 5px 5px 10px 5px $nord0light,
          -5px -5px 10px 5px $nord0dark;
      }

      &::-moz-range-progress {
        background:linear-gradient(135deg, 
          $nord10 0%, 
          $nord9 25%, 
          $nord8 75%, 
          $nord7 100%);
        height: 5px;
      }

      &::-moz-range-thumb {
        height: 1.25em;
        width: 1.25em;
        background: $nord6;
        border-radius: 50%;
        border: none;
        box-shadow: 5px 5px 7px $nord0light,
          -5px -5px 7px $nord0dark;
       }
    }
  }
}

#controls {
  margin-top: 30px;

  .media-button {
    margin: 0 12px;

    &:active {
      transform: scale(0.95);
    }

    .enabled {
      color: $nord8
    }
  }
}

#playlist {
  margin: 30px auto 0 auto;
  list-style-type: none;
  padding: 0;

  .playlist-item {
    border-bottom: 2px solid $nord3;
    padding: 1em 0px 1em 0px;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    margin: auto 0;

    &.header {
      font-size: 1.25em;
    }

    &.playing, &.timestamp:hover {
      background-color: $nord10;
      border-bottom: 2px solid $nord10;

      .toggle .slider {
        box-shadow:  3px 3px 6px #506e92,
          -3px -3px 6px #6c94c6;
      }
    }

    .title {
      margin: auto 0;
      text-align: left;
      padding-left: 20px;
    }

    .duration {
      margin: auto 0;
      text-align: right;
      padding-right: 20px;
    }

    .toggle {
      margin: auto 0;
      input[type=checkbox] {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: $nord8;
        }

        &:checked + .slider:before {
          transform: translateX(21px);
        }
      }

      /* The slider */
      .slider {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        cursor: pointer;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $nord3;
        transition: .3s;
        border-radius: 17px;
        box-shadow:  3px 3px 6px $nord0light,
          -3px -3px 6px $nord0dark;

        &:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: $nord1;
          transition: .3s;
          border-radius: 50%;
        }
      }
    }
  }
}
