@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  text-align: center;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: #2E3440;
  color: #D8DEE9;
}

#app {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

#player-form {
  margin-top: 30px;
  margin-bottom: 45px;
}
#player-form input[type=text] {
  padding: 10px 20px 10px 20px;
  border-style: hidden;
  border-radius: 22px;
  background-color: #434C5E;
  color: #D8DEE9;
  box-shadow: 7px 7px 10px 2px #272c36, -7px -7px 10px 2px #353c4a;
  width: 80%;
  max-width: 600px;
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  outline: none;
}
#player-form input[type=text]:focus {
  background-color: #4C566A;
  color: #ECEFF4;
}

#videoContainer {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 90%;
  padding-bottom: 50.6%;
  box-shadow: 25px 25px 50px 2px #272c36, -25px -25px 50px 2px #353c4a;
}
@media only screen and (min-width: 768px) {
  #videoContainer {
    margin: auto;
    width: 704px;
    padding-bottom: 396px;
  }
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#status {
  margin-top: 45px;
  margin-bottom: 45px;
}
#status #progress {
  display: grid;
  margin: auto;
  width: 80%;
}
#status #progress .left {
  text-align: left;
}
#status #progress .right {
  text-align: right;
}
#status #progress .slider {
  grid-column: 1/span 2;
  grid-row: 2;
}

#controls .media-button {
  background-color: #434C5E;
  border-style: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 2em;
  color: #ECEFF4;
  box-shadow: 10px 10px 21px #272c36, -10px -10px 21px #353c4a;
}
#controls .media-button:active {
  transform: scale(0.95);
}

#playlist {
  margin-left: auto;
  margin-right: auto;
}
#playlist ul {
  list-style-type: none;
  padding: 0;
}
#playlist .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
#playlist li {
  border-bottom: 2px solid #434C5E;
  padding: 12px 0px 12px 0px;
}
#playlist li:hover {
  background-color: #5E81AC;
  border-bottom: 2px solid #5E81AC;
}

/* New Stuff */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 80%;
  /* Full width */
  height: 80%;
  /* Full height */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #73AD21;
}
