body {
  text-align: center;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: #2E3440;
  color: #D8DEE9;
}

#app {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

#player-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
#player-form input[type=text] {
  border-style: hidden;
  padding: 10px 20px 10px 20px;
  border-radius: 22px;
  background-color: #3B4252;
  color: #D8DEE9;
  width: 80%;
  max-width: 600px;
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  outline: none;
}
#player-form input[type=text]:focus {
  background-color: #434C5E;
  color: #ECEFF4;
}

#videoContainer {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 90%;
  padding-bottom: 50.6%;
}
@media only screen and (min-width: 768px) {
  #videoContainer {
    margin: auto;
    width: 704px;
    padding-bottom: 396px;
  }
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#status #progress {
  margin: auto;
  width: 80%;
}
#status #progress .left {
  float: left;
}
#status #progress .right {
  float: right;
}
#status #progress input {
  margin-top: 10px;
}

#playlist {
  margin-left: auto;
  margin-right: auto;
}
#playlist ul {
  list-style-type: none;
}
#playlist .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* New Stuff */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 80%;
  /* Full width */
  height: 80%;
  /* Full height */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #73AD21;
}
